page-create-ticket {
  .masters {
    background-color: #74b9ff;
  }

  .singup-form {
    background-color: #74b9ff;
  }

  .create-button {
    width: 100%;
    // border-radius: 30px;
    font-size: 0.9em;
    // border: 1px solid #fff;
    background-color: #39acdc;
  }

  .cancel-button {
    width: 100%;
    // border-radius: 30px;
    font-size: 0.9em;
    // border: 1px solid #fff;
    background-color: #F08080;
  }
}
